/*Description: Challenge 3
Auteur: Jean-Claude Grondin
Contact: decle29@gmail.com
URL Github: https://github.com/Akhdin
*/

/*CSS*/

/**********Body**********/

.container-fluid{
	width: 88%;
}

/* Chaques Articles */
.col-md-6 p {
	font-size: 14px;
    line-height: 28px;
	font-family: 'Lato', sans-serif;
	font-weight: 100%;	
}


/*Opacité des iamges*/
.opac {
	transition: 0.3s;
}

.opac:hover {
	filter: opacity(80%);
	transition: 0.3s;
}

/*Categories et Titres des Articles*/
.category {
	color: darkred;
}

.category a {
	color: darkred;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

.catlink{
	font-size: 12px;
}

.catlink:hover{
	color : #a60505;
}

h4 a {
	font-weight: bold;
	font-family: 'playfair display', serif;
	color: #313131;
	text-transform: uppercase;
	transition: 0.3s;
}

h4 a:hover {
	color: gray;
	transition: 0.3s;
}

/*AUteur et hover de l'Auteur*/
.Marina {
	color: black;
	font-style: italic;
	transition: 0.3s;
}

.Marina:hover {
	text-decoration: none;
	color: darkred;
	transition: 0.3s;
}

/* Dimensions des Images*/
.main img {
	max-width: 100%;
	height: 100%;
	padding: 2em 0;
}


/* hr: ligne horizontale sous la date*/
.under {
	margin-top: 1em;
	width: 10%;
	height: 1px;
	background-color: darkred;
}


/* Paramètres icônes + after & before*/
.cote-icone {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
}

.cote-icone::before, .cote-icone::after {
	content:"";
	height: 1px;
	width: 36%;
	background-color: lightgray;
}
.cote-icone a {
	color:#313131;
	font-size: 14px;
	transition: 0.3s;
}

.cote-icone a:hover {
	text-decoration: none;
	color: darkred;
	transition: 0.3s;
}


/*fin du CSS*/

/**********Fin du Body**********/